<div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
    <div fxLayout="row wrap">
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>summarize</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a>Exames</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>description</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a>Atestados</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>post_add</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a>Prescrições</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>upload_file</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a>Anexos</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="98">
            <div class="row">
                
            </div>
        </mat-card>
    </div>
</div>