<div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
    <div fxLayout="row wrap">
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>summarize</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a>Exames</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>description</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a (click)="openAtestadoModal()">Atestados</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>post_add</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a>Prescrições</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="23">
            <div class="row">
                <div class="col col-4">
                    <span class="text-blue">
                        <mat-icon>upload_file</mat-icon>
                    </span>
                </div>
                <div class="col col-8">
                    <h2 class="text-muted"><a>Anexos</a></h2>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="100">
            <mat-card-title class="text-center">{{this.paciente.nome}}</mat-card-title>
            <mat-card-content>
                <div class="row">
                    <div class="col col-lg-3 col-md-3 col-sm-3">
                        <strong>Idade: </strong> <span
                            class="text-muted">{{CalcularIdade(this.paciente.dataNascimento)}}</span>
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-3">
                        <strong>Convênio: </strong> <span class="text-muted">{{this.paciente.convenio}}</span>
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-3">
                        <strong>Primeira Consulta: </strong> <span
                            class="text-muted">{{this.paciente.primeiraConsulta}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-4 col-md-4 col-sm-4" *ngIf="this.paciente.antecedenteClinico">
                        <strong>Antec. Clinico: </strong> <span
                            class="text-muted">{{this.paciente.antecedenteClinico}}</span>
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4" *ngIf="this.paciente.antecedenteCirurgico">
                        <strong>Antec. Cirurgico: </strong> <span
                            class="text-muted">{{this.paciente.antecedenteCirurgico}}</span>
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4" *ngIf="this.paciente.antecedenteFamiliares">
                        <strong>Antec. Familiares: </strong> <span
                            class="text-muted">{{this.paciente.antecedenteFamiliares}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-4 col-md-4 col-sm-4" *ngIf="this.paciente.alergia">
                        <strong>Alergia: </strong> <span class="text-muted">{{this.paciente.alergia}}</span>
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4" *ngIf="this.paciente.habitos">
                        <strong>Habitos: </strong> <span class="text-muted">{{this.paciente.habitos}}</span>
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4" *ngIf="this.paciente.medicamentoUso">
                        <strong>Medicamentos em uso: </strong> <span
                            class="text-muted">{{this.paciente.medicamentoUso}}</span>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-footer>
                <div class="row" style="padding: 10px;">
                    <div class="col col-6" (click)="AlterPages()">
                        <span style="display: flex; align-items: start; justify-content: start; cursor: pointer;">
                            <mat-icon style="color: blue;"
                                matTooltip="{{tipoTela == 1 ? 'Iniciar Atendimento' : 'Listar Evolução de prontuario'}}"
                                matTooltipPosition="below">
                                {{tipoTela == 1 ? 'add' : 'list'}}
                            </mat-icon>
                            &nbsp;
                            {{tipoTela == 1 ? 'Iniciar Atendimento' : 'Listar Evolução de prontuario'}}
                        </span>
                    </div>
                    <div class="col col-6" style="color: blue; display: flex; justify-content: end;">
                        <mat-icon matTooltip="Editar dados do prontuário" matTooltipPosition="below"
                            style="cursor: pointer;" (click)="openLancamentoModal(this.paciente)">edit</mat-icon>
                    </div>

                </div>
            </mat-card-footer>
        </mat-card>
        <mat-card fxFlex="100" *ngIf="tipoTela === 1">
            <h3 class="text-muted align-items-center" *ngIf="listEvolucaoPaciente.length == 0">Paciente sem histórico
            </h3>
            <div *ngIf="listEvolucaoPaciente.length != 0">
                <div *ngFor="let evolucao of listEvolucaoPaciente;">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{evolucao.TipoRegistro}}</mat-panel-title>
                                <mat-panel-description>{{formatDate(evolucao.DataRegistro)}}</mat-panel-description>
                            </mat-expansion-panel-header>
                            <h3 *ngIf="evolucao.Descricao" class="text-muted align-items-center">Descrição do
                                atendimento</h3>
                            <div *ngIf="isBase64(evolucao.Descricao); else texto">
                                <button class="btn btn-primary"
                                    (click)="downloadBase64Pdf(evolucao.Descricao, evolucao.TipoRegistro)">Baixar
                                    {{evolucao.TipoRegistro}} </button>
                            </div>
                            <ng-template #texto>
                                <span>
                                    {{evolucao.Descricao}}
                                </span>
                            </ng-template>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="100" *ngIf="tipoTela === 2">
            <form [formGroup]="atendimentoFrom" (submit)="SalvarClick(false)">
                <mat-card-content>
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="full-width">
                                <textarea matInput name="queixaPrincipal" formControlName="queixaPrincipal"
                                    placeholder="Queixa Principal" (input)="autoResize($event)" value=""></textarea>
                            </mat-form-field>
                        </div>

                        <div class="col col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="full-width">
                                <textarea matInput name="historiaMolestiaAtual" formControlName="historiaMolestiaAtual"
                                    placeholder="História Molestia Atual" (input)="autoResize($event)"
                                    value=""></textarea>
                            </mat-form-field>
                        </div>

                        <div class="col col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="full-width">
                                <textarea matInput name="historicoAntecedentes" formControlName="historicoAntecedentes"
                                    placeholder="Historico Antecedentes" (input)="autoResize($event)"
                                    value=""></textarea>
                            </mat-form-field>
                        </div>

                        <div class="col col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="full-width">
                                <textarea matInput name="exameFisico" formControlName="exameFisico"
                                    placeholder="Exame Fisíco" (input)="autoResize($event)" value=""></textarea>
                            </mat-form-field>
                        </div>

                        <div class="col col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="full-width">
                                <textarea matInput name="diagnostico" formControlName="diagnostico"
                                    placeholder="Diagnostico" (input)="autoResize($event)" value=""></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-4">
                            <mat-form-field class="full-width">
                                <input type="number" matInput name="altura" formControlName="altura"
                                    placeholder="Altura" mask="0.00">
                            </mat-form-field>
                        </div>
                        <div class="col col-4">
                            <mat-form-field class="full-width">
                                <input type="number" matInput name="peso" formControlName="peso" placeholder="Peso">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <div class="row">
                    <div class="col  d-flex justify-content-start">
                        <input type="submit" class="btn btn-outline-primary btn-clinica-submit" value="Salvar">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <a (click)="SalvarClick(true)" class="btn btn-outline-primary btn-clinica-submit">Finalizar
                            Atendimento</a>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>