<h2 mat-dialog-title>{{this.tipoLancamento}}</h2>

<form [formGroup]="lancamentoForm">
    <mat-dialog-content>
        <div class="row">
            <div class="col col-12">
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Paciente" formControlName="paciente"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let paciente of filterPacientes(dadosForm().paciente.value)"
                            [value]="paciente">
                            {{ paciente.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Profissional</mat-label>
                    <mat-select matNativeControl formControlName="profissional" class="dorpdown-menu">
                        <mat-option class="dropdown-item" *ngFor="let profissional of listaProfissionais"
                            [value]="profissional.id">
                            {{ profissional.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Convênio</mat-label>
                    <mat-select matNativeControl formControlName="convenio" class="dorpdown-menu">
                        <mat-option class="dropdown-item" *ngFor="let convenio of listaConvenios" [value]="convenio.id">
                            {{ convenio.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Procedimento</mat-label>
                    <mat-select matNativeControl formControlName="procedimento" class="dorpdown-menu"
                        (selectionChange)="ProcedimentoSelecionado($event.value)">
                        <mat-option class="dropdown-item" *ngFor="let procedimento of listaProcedimentos"
                            [value]="procedimento.id">
                            {{ procedimento.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <input matInput name="valor" formControlName="valor" placeholder="Valor" value=""
                        [mask]="'separator.2'" thousandSeparator="." decimalMarker=",">
                    <small *ngIf="lancamentoForm.controls['valor'].touched" class="form-error-msg"> </small>
                </mat-form-field>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <input matInput name="descricao" formControlName="descricao" placeholder="Descrição" value="">
                </mat-form-field>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Categoria</mat-label>
                    <mat-select matNativeControl formControlName="categoria" class="dorpdown-menu">
                        <mat-option class="dropdown-item" *ngFor="let categoria of listaCategorias"
                            [value]="categoria.id">
                            {{ categoria.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Centro Custo</mat-label>
                    <mat-select matNativeControl formControlName="centroCusto" class="dorpdown-menu">
                        <mat-option class="dropdown-item" *ngFor="let centroCusto of listaCentroCusto"
                            [value]="centroCusto.id">
                            {{ centroCusto.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Forma de Pagamento</mat-label>
                    <mat-select matNativeControl formControlName="formaPagamento" class="dorpdown-menu">
                        <mat-option class="dropdown-item" *ngFor="let formaPagamento of listaForma"
                            [value]="formaPagamento.id">
                            {{ formaPagamento.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Conta Bancária</mat-label>
                    <mat-select matNativeControl formControlName="conta" class="dorpdown-menu">
                        <mat-option class="dropdown-item" *ngFor="let conta of listaConta" [value]="conta.id">
                            {{ conta.name }}
                        </mat-option>
                    </mat-select>
                    <small *ngIf="lancamentoForm.controls['conta'].touched" class="form-error-msg"> </small>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Data de vencimento" name="dataVencimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
</form>
<mat-dialog-actions align="end">
    <button type="button" mat-button [mat-dialog-close]="false">Cancelar</button>
    <span fxFlex></span>
    <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial (click)="SalvarClick()">Salvar</button>
</mat-dialog-actions>