.margin-toggle {
    margin: 10px;
}

.cnt{
    margin-left: 30px;
}

.image-card-clinica {
    max-width: 300px;
    padding: 10px;
}

.row-card {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-title {
    padding: 10px;
}

.btn-collapse {
    border: none;
    padding: 10px 10px 10px 0px;
}

.collapse-arrow {
    transition: transform 0.3s ease;
}

.open {
    transform: rotate(90deg);
}