<div class="container-button" *ngIf="!this.geraQrCode">
    <div class="row row-t">
        <div class="col-md-8 offset-md-1">
            <button type="button" class="btn btn-primary padding" style="width: 100%;" (click)="GerarSenha(0)">
                Prioritário
            </button>
        </div>
    </div>
    <div class="row row-t">
        <div class="col-md-8 offset-md-1">
            <button type="button" class="btn btn-primary padding" style="width: 100%;" (click)="GerarSenha(1)">
                Prioritário Agendado
            </button>
        </div>
    </div>
    <div class="row row-t">
        <div class="col-md-8 offset-md-1">
            <button type="button" class="btn btn-primary padding" style="width: 100%;" (click)="GerarSenha(2)">
                Comum
            </button>
        </div>
    </div>
    <div class="row row-t">
        <div class="col-md-8 offset-md-1">
            <button type="button" class="btn btn-primary padding" style="width: 100%;" (click)="GerarSenha(3)">
                Comum Agendado
            </button>
        </div>
    </div>
</div>

<div class="container-qr" *ngIf="this.geraQrCode">
    <qr-code value="{{stringQrCode}}" size="400" errorCorrectionLevel="H"></qr-code>
</div>