.padding{
    padding: 10px 25px 10px 25px;
    font-size: 24px;
    font-weight: 900;
}

.row-t{
    margin-top: 7%;
}

.container-qr{
    display: flex;
    align-items: center;
    justify-content: center;
}