<div class="mt--72">
    <div fxFlex="100" fxFlex.sm="30" fxFlex.gt-sm="30">
        <div fxLayout="row">
            <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
                <mat-card fxFlex="100">
                    
                </mat-card>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
                
            </div>
        </div>
    </div>
</div>