table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 50%;
  }
  
  .linha-branca {
    background: #fff;
  }
  
  .linha-cinza {
    background: #f9f7f7;
  }

  .center-itens{
    display: flex;
    align-items: center;
    justify-content: center;
  }