<div fxFlex="100" fxFlex.sm="30" fxFlex.gt-sm="30">
  <div fxLayout="row wrap">
    &nbsp;
    <!--Ficará dados quantitativos de pacientes-->
  </div>
  <div fxLayout="row wrap">
    <mat-card fxFlex="100">
      <mat-card-title class="mb-0">Agendamentos</mat-card-title>
      <small class="text-muted">Últimos 30 dias</small>
      <div echarts [options]="doughNutPieOptions" style="height: 280px"></div>
    </mat-card>
  </div>
</div>










<button class="btn btn-secondary floating-button" matTooltip="Chamadas de Senhas" (click)="openModalChamada()">
  <mat-icon class="align-icon">wysiwyg</mat-icon>
</button>