.floating-button {
    position: fixed;
    bottom: 10%;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.align-icon{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
table{
    width: 100%;
}

td, th {
    width: 50%;
  }