<mat-card class="p0">
    <mat-card-title>
        <div class="row">
            <div class="col col-lg-10 col-md-10 col-sm-10">
                <mat-card-title class="text-muted">
                    Procedimentos
                </mat-card-title>
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-2" *ngIf="isAutorizado">
                <div class="demo-button-container" *ngIf="tipoTela == 1">
                    <button mat-raised-button color="primary" class="btn-card" matTooltip="Adicionar novo Procedimento"
                        TooltipPosition="below" (click)="TelaCadastro()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="demo-button-container" *ngIf="tipoTela == 2">
                    <button mat-raised-button color="primary" class="btn-card" matTooltip="Lista Procedimentos"
                        matTooltipPosition="below" (click)="ListaConvenio()">
                        <mat-icon>list</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-title>

    <mat-card-content *ngIf="tipoTela == 1">

    </mat-card-content>
</mat-card>