.row-padding{
    padding: 30px 0px 30px 0px;
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-saldo{
    font-size: 60px;
    font-weight: 400;
}

.small-text{
    font-size: 30px;
}