<div class="mt--72">
    <div fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">
        <div fxLayout="row">
            <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
                <mat-card fxFlex="100">
                    <div class="ml-12">
                        <h2 class="card-title text-blue">Transações</h2>
                        <p class="m-0 text-muted mb-4">Lançamentos de receitas, despesas e transferências entre contas.
                        </p>
                    </div>
                    <mat-card-content>
                        <div class="row row-padding">
                            <div class="col col-lg-4 col-md-4 col-sm-4">
                                <button class="btn btn-primary align-items-center" style="width: 100%;">
                                    <mat-icon>arrow_upward</mat-icon> &nbsp;&nbsp;
                                    Receita
                                </button>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4">
                                <button class="btn btn-danger align-items-center" style="width: 100%;">
                                    <mat-icon>arrow_downward</mat-icon> &nbsp;&nbsp;
                                    Despesa
                                </button>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4">
                                <button class="btn btn-light border border-dark align-items-center" style="width: 100%;">
                                    <mat-icon>swap_vert</mat-icon> &nbsp;&nbsp;
                                    Transferência
                                </button>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row p-12">
                            <h3 class="text-blue">Saldo Geral</h3>
                        </div>
                        <div class="container d-flex text-{{color}}">
                            <small class="small-text">R$</small>
                            <span class="content-saldo">{{valorSadoGeral.toLocaleString('pt-BR', { minimumFractionDigits: 2
                            })}}</span>
                        </div>
                        <div class="container d-flex justify-content-end">
                            <span><strong>Conta Padrão:</strong> &nbsp; Caixa - Empresa</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.sm="30" fxFlex.gt-sm="30">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
                <mat-card class="p-24" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon class="text-48 text-blue">add</mat-icon>
                        <div class="ml-12">
                            <h2 class="m-0 text-blue">Cadastros do Financeiro</h2>
                            <p class="m-0 text-muted mb-4">Banco, Contas, Categorias, e etc.</p>
                        </div>
                    </div>
                    <button mat-icon-button matTooltip="Cadastros Financeiro" (click)="TelaCadastro()">
                        <mat-icon class="mat-18">arrow_right_alt</mat-icon>
                    </button>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="100">
                <mat-card class="p-24" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon class="text-48 text-accent">settings</mat-icon>
                        <div class="ml-12">
                            <h2 class="m-0 text-accent">Configuração do Financeiro</h2>
                            <p class="m-0 text-muted mb-4">Defina as configurações padrões.</p>
                        </div>
                    </div>
                    <button mat-icon-button matTooltip="Configurações Financeira">
                        <mat-icon class="mat-18">arrow_right_alt</mat-icon>
                    </button>
                </mat-card>
            </div>
        </div>
    </div>
</div>