<mat-card class="p0">
    <mat-card-title>
        <div class="row">
            <div class="col col-lg-8 col-md-8 col-sm-8">
                <mat-card-title class="text-muted">
                    Convênios
                </mat-card-title>
            </div>
            <span fxFlex></span>
            <div class="col col-lg-1 col-md-1 col-sm-1" *ngIf="isAutorizado">
                <div class="demo-button-container" *ngIf="tipoTela == 1">
                    <button mat-raised-button color="primary" class="btn-card" matTooltip="Adicionar novo Convênio"
                        TooltipPosition="below" (click)="TelaCadastro()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="demo-button-container" *ngIf="tipoTela == 2">
                    <button mat-raised-button color="primary" class="btn-card" matTooltip="Lista Convênios"
                        matTooltipPosition="below" (click)="ListaConvenio()">
                        <mat-icon>list</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-title>

    <!--Tela Listagem-->
    <mat-card-content *ngIf="tipoTela == 1">
        <div class="row">
            <div class="col col-lg-10 col-md-10 col-sm-10">
                <mat-form-field>
                    <mat-label>Pesquisar</mat-label>
                    <input matInput (keyup)="AplicaFiltro($event)" placeholder="Ex. Particular" #input>
                </mat-form-field>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod. Convênio </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                </ng-container>

                <!-- Ativo Column -->
                <ng-container matColumnDef="ativo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </th>
                    <td mat-cell *matCellDef="let row"> <mat-slide-toggle style="opacity: 1;" [checked]="row.ativo"
                            disabled></mat-slide-toggle> </td>
                </ng-container>

                <!-- Executante Column -->
                <ng-container matColumnDef="executante">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Executante </th>
                    <td mat-cell *matCellDef="let row"> {{row.executante}} </td>
                </ng-container>

                <!-- Acoes Column -->
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                    <td mat-cell *matCellDef="let row">
                        <div *ngIf="isAutorizado">
                            <a (click)="LoadDadosForm(row.id)">
                                <mat-icon style="color: blue;" matTooltip="Editar Convênio"
                                    matTooltipPosition="below">edit</mat-icon>
                            </a> &nbsp;&nbsp;
                            <a (click)="DeletarConvenio(row.id)">
                                <mat-icon style="color: red;" matTooltip="Deletar Convênio"
                                    matTooltipPosition="below">delete</mat-icon>
                            </a>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="dispplayColuns"></tr>
                <tr mat-row *matRowDef="let row; columns: dispplayColuns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" style="text-align: center;">Nenhum dado Encontrado </td>
                </tr>
            </table>

            <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>

    <!--Tela Cadastro-->
    <mat-card-content *ngIf="tipoTela == 2">
        <form [formGroup]="convenioForm" (submit)="SalvarClick()">
            <mat-card>
                <mat-card-title>Dados Convênio</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="nome" formControlName="nome" placeholder="Nome" value="">
                            </mat-form-field>
                            <small *ngIf="convenioForm.controls['nome'].touched" class="form-error-msg"> </small>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="registroAns" formControlName="registroAns"
                                    placeholder="Registro ANS" value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="nomeFantasia" formControlName="nomeFantasia"
                                    placeholder="Nome Fantasia" value="">
                            </mat-form-field>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="executante" formControlName="executante" placeholder="Executante"
                                    value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="codOperadora" formControlName="codOperadora"
                                    placeholder="Cod. Operadora" value="">
                            </mat-form-field>
                        </div>
                        <div class="col col-lg-2 col-md-2 col-sm-12">
                            <mat-checkbox name="ativo" formControlName="ativo" class="pb-16" #ativo>Ativo</mat-checkbox>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>Dados Faturamento TISS</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="versaoTiss" formControlName="versaoTiss" placeholder="Versão TISS"
                                    value="">
                            </mat-form-field>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="proximoLote" formControlName="proximoLote"
                                    placeholder="Proximo Lote" value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="proximaGuia" formControlName="proximaGuia"
                                    placeholder="Proxima Guia" value="">
                            </mat-form-field>
                        </div>
                        <div class="col col-lg-2 col-md-2 col-sm-12">
                            <mat-checkbox name="sadt" formControlName="sadt" class="pb-16" #sadt>SADT</mat-checkbox>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="row">
                <div class="col align-self-end">
                    <input type="submit" class="btn btn-primary btn-clinica-submit" value="Salvar">
                </div>
            </div>
        </form>
    </mat-card-content>

    <mat-card-content *ngIf="tipoTela == 2 && convenioEdicao">
        <form [formGroup]="profissionalConvenioForm" (submit)="SalvarProfissionalConvenio()">
            <mat-card>
                <mat-card-title>Relação Funcionário e Convênio</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="convenio" formControlName="convenio" placeholder="Convênio"
                                    [value]="convenioEdicao.id">
                            </mat-form-field>
                            <small *ngIf="profissionalConvenioForm.controls['convenio'].touched" class="form-error-msg">
                            </small>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <mat-label>Funcionário</mat-label>
                                <mat-select matNativeControl formControlName="funcionario"
                                    class="dorpdown-menu">
                                    <mat-option class="dropdown-item" *ngFor="let funcionario of funcionarios"
                                        [value]="funcionario.id">
                                        {{ funcionario.nome }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="row">
                <div class="col align-self-end">
                    <input type="submit" class="btn btn-primary btn-clinica-submit" value="Salvar">
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>