<mat-card class="p0">
    <mat-card-title>
        <div class="row">
            <div class="col col-lg-10 col-md-10 col-sm-10">
                <mat-card-title class="text-muted">
                    Convênios
                </mat-card-title>
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-2" *ngIf="isAutorizado">
                <div class="demo-button-container" *ngIf="tipoTela == 1">
                    <button mat-raised-button color="primary" class="btn-card" matTooltip="Adicionar novo Convênio"
                        TooltipPosition="below" (click)="TelaCadastro()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="demo-button-container" *ngIf="tipoTela != 1">
                    <button mat-raised-button color="primary" class="btn-card" matTooltip="Lista Convênios"
                        matTooltipPosition="below" (click)="ListaConvenio()">
                        <mat-icon>list</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-title>

    <mat-card-content *ngIf="tipoTela == 1">
        <div class="row">
            <div class="col col-lg-10 col-md-10 col-sm-10">
                <mat-form-field>
                    <mat-label>Pesquisar</mat-label>
                    <input matInput (keyup)="AplicaFiltro($event)" placeholder="Ex. Particular" #input>
                </mat-form-field>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod. Convênio </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                </ng-container>

                <!-- Ativo Column -->
                <ng-container matColumnDef="ativo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </th>
                    <td mat-cell *matCellDef="let row"> <mat-slide-toggle style="opacity: 1;" [checked]="row.ativo"
                            disabled></mat-slide-toggle> </td>
                </ng-container>

                <!-- Executante Column -->
                <ng-container matColumnDef="executante">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Executante </th>
                    <td mat-cell *matCellDef="let row"> {{row.executante}} </td>
                </ng-container>

                <!-- Acoes Column -->
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                    <td mat-cell *matCellDef="let row">
                        <div *ngIf="isAutorizado">
                            <a (click)="LoadDadosForm(row.id, row.email)">
                                <mat-icon style="color: blue;" matTooltip="Editar Convênio"
                                    matTooltipPosition="below">edit</mat-icon>
                            </a> &nbsp;&nbsp;
                            <a (click)="DeletarConvenio(row.id, row.email)">
                                <mat-icon style="color: red;" matTooltip="Deletar Convênio"
                                    matTooltipPosition="below">delete</mat-icon>
                            </a>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="dispplayColuns"></tr>
                <tr mat-row *matRowDef="let row; columns: dispplayColuns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" style="text-align: center;">Nenhum dado Encontrado </td>
                </tr>
            </table>

            <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>